
@{
    ViewBag.Title = "Index";
}

<h2>Computer Science Technology</h2>

<hr>

<h3>About the program</h3>
<img id="mainImg" src="https://www.uri.edu/programs/wp-content/uploads/programs/sites/3/2014/04/feat_img_comp_sci.jpg" alt="Computer screen with code">
<p>
    Computer Science Technology is a three-year career program designed to provide you with a strong background in object-oriented methodology, particularly in program design and system analysis. Web concepts are integrated into a majority of courses and focus on the development of dynamic database-driven web applications on a variety of operating system platforms. The program will focus on computer programming, operating systems, database and web technology, data communication and networking, security and advanced programming languages.
</p>
<p>
    As a student of the Computer Science Technology diploma program, you will learn in an environment where classes are given in modern facilities and where every course uses a combination of class and laboratory time. The software used in this program is constantly updated with the latest versions. As a bonus, each student benefits from access to the same software for use on their own devices as part of our academic alliances with software vendors. Our staff, faculty and student advisors are committed to helping you succeed and prepare for a stage-training program in Semester 6, which is given in an external business institution.
</p>
<p>
    The program features a well-rounded blend of technologies that will prepare you to graduate as a developer, technician, or administrator of technologies in a variety of industries. Our advisory committee of IT business professionals reviews the offerings each year and provides us with suggestions to adjust the curriculum to reflect current and forecast computer technology needs.
</p>

<h3>The Program Provides You With Skills In</h3>
<ul>
    <li>Problem Solving</li>
    <li>Operating Systems Object oriented methodology</li>
    <li>Software Design</li>
    <li>Gaming</li>
    <li>Modern Systems Analysis and Design</li>
    <li>Internet of Things</li>
    <li>Client-server development</li>
    <li>Computer Programming</li>
    <li>Data-base design and administration</li>
    <li>Computer and networking support</li>
    <li>Cloud development</li>
    <li>Mobile app development (Android and iOS)</li>
    <li>IS Security</li>
</ul>

<h3>Your Career</h3>
<p>
    The program prepares you for a wide range of careers such as a software developer, information systems specialist, PC specialist and more. The technical and business skills you will learn in the Computer Science Technology diploma program will qualify you for some of the most dynamic in-demand jobs in the computer industry today.
</p>
<p>
    Students could also choose to pursue university studies in many fields including software engineering, business or other science programs.
</p>

<h3>Program Grid</h3>
<table id="" class="table-bordered info" cellspacing="50">
    <tr class="info">
        <th>Semester 1</th>
        <td>
            <ul>
                <li>Computing/IT Fundamentals</li>
                <li>Object Oriented Programming with Java 1</li>
                <li>User Experience/Web Interface Design</li>
                <li>Math for Computer Science</li>
                <li>English</li>
                <li>Humanities</li>
                <li>French</li>
                <li>Physical Education</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Semester 2</th>
        <td>
            <ul>
                <li>Configuring, Managing and Maintaining Computers</li>
                <li>Object Oriented Programming with Java 2</li>
                <li>Operating Systems and Linux</li>
                <li>Web Programming and JS Libraries</li>
                <li>Project Management with Quantiative Methods</li>
                <li>English</li>
                <li>French</li>
                <li>Humanities</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Semester 3</th>
        <td>
            <ul>
                <li>Database Design and Introduction to SQL</li>
                <li>Networking and Security</li>
                <li>.NET Development</li>
                <li>Java Web Programming</li>
                <li>Introduction to IoT & Embedded Systems</li>
                <li>Fundamentals of Business and Entrepreneurship for IT Professionals</li>
                <li>English</li>
                <li>Physical Education</li>
                <li>Complementary</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Semester 4</th>
        <td>
            <ul>
                <li>Web Development with PHP</li>
                <li>System Analysis and Design</li>
                <li>Mobile Application Development 1: Android</li>
                <li>Game Development with the Unity Cross-Platform Game Engine</li>
                <li>Web Services and Distributed Computing</li>
                <li>English</li>
                <li>Humanities</li>
                <li>Physical Education</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Semester 5</th>
        <td>
            <ul>
                <li>Database Administration and Security</li>
                <li>Mobile Application Development 2: iOS</li>
                <li>Final Project 1</li>
                <li>Azure  for SQL Developers with ASP.NET and MVC</li>
                <li>Design and Prototyping of Connected Devices</li>
                <li>Professional Integrationand High-tech Entrepreneurship</li>
                <li>Complementary</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Semester 6</th>
        <td>
            <ul>
                <li>Final Project 2</li>
                <li>Internship (Field Experience)</li>
                <li>Managing Big Data for Connected Devices</li>
                <li>Comprehensive Assessment (Meeting the Graduate Profile)</li>
            </ul>
        </td>
    </tr>
</table>

<h3>Application Deadline</h3>
<p>March 1st for the Fall Semester.</p>

<h3>Minimum Admissions Requirements</h3>
<p>
    Quebec Secondary School Diploma or a level of education that is deemed equivalent by the College.
</p>
<p>
    Mathematics ST 4, SN4 or CST 5.
</p>