
@{
    ViewBag.Title = "Semester5";
}

<h2>Semester 5 Courses</h2>

<ul>
    <li>Database Administration and Security</li>
    <li>Mobile Application Development 2: iOS</li>
    <li>Final Project 1</li>
    <li>Azure  for SQL Developers with ASP.NET and MVC</li>
    <li>Design and Prototyping of Connected Devices</li>
    <li>Professional Integrationand High-tech Entrepreneurship</li>
    <li>Complementary</li>
</ul>

