
@{
    ViewBag.Title = "Testimonial";
}

<h2>Testimonials</h2>
<h3>Some quotes from computer science students</h3>
<br>
<i>"There are 10 types of people in this world, those who understand binary and those who dont"</i>
<br>
<br>
<i>"RPG's the best"</i>